body {
  background-color: #eb3b5a;
  font-family: Roboto, sans-serif;
  color: #fff;
}
h1 {
  font-family: Lobster, cursive;
  font-size: 3em;
}
main {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
  font-size: 2em;
  text-align: center;
}
